.page-template-contact-page {
	
	.content-wrap {
		padding-bottom: 6.55em;	
	}
	
	header.template-banner {
		padding-bottom: 4em;
		
		.press-label {
			padding-top: 3.8em;
		}
	
	}
	
	.left {
		margin-bottom: 2em;
		
		.row {
			padding-bottom: 1.65em;
		
			h2 {
				margin-bottom: .2em;
			}
			
			div {
				font-size: rem-calc(18);
				line-height: 1.888;
				padding-bottom: .55em;
			}
			
			a {
				width: 100%;
				font-size: rem-calc(17);
			}
		
		}
		
		
		
	}
	
}