footer.footer {
	background-color: $black;
	color: $white;

		.grid-x.spaced {
			justify-content: space-between;
		}
	
	.top {		
		
		h5 {
			color: $theme-yellow;
			font-weight: 500;
		}
		
		a {
			color: $white;
		}
		
		.location,
		.contact {
			h5 {
				font-size: rem-calc(15);
			}
			
			a {
				font-size: rem-calc(12);
			}
			
		}
		
		.social {
			display: flex;
			justify-content: flex-end;
			
			> div:not(:last-child) {
				margin-right: 0.85em;
			}
			
		}
			
	}
	
	.bottom,
	.bottom p {
		font-size: rem-calc(9);
		font-weight: 500;
	}

	
}