.four-col-numbers-labels {
	position: relative;
	
	.cell {
		border-bottom: 1px solid #707070;
		margin-bottom: 2.05em;
	}

	.number {
		font-size: rem-calc(70);
		line-height: 1;
		margin-bottom: 0.04em;
	}
	
	.label-text {
		font-size: rem-calc(17);
		padding-bottom: .7em;
	}
	
}